<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

      <session-factory name="hibernateDesa">
       <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/feol?autoReconnect=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

		
		<property name="hibernate.current_session_context_class">thread</property>
		
		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		
		<property name="hibernate.show_sql">false</property>
		
		<property name="hibernate.hbm2ddl.auto">none</property>		
		
		<mapping class="jmc.feol.core.model.Parametrizacion"/>		
   </session-factory>

</hibernate-configuration>
