<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

      <session-factory name="hibernateDesa">
       <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
       <property name="hibernate.connection.password">Cot13524</property>
       <property name="hibernate.connection.url">jdbc:oracle:thin:@10.1.5.23:1521:ba1</property>
       <property name="hibernate.connection.username">cot</property>
       <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.hbm2ddl.auto">none</property>						
		<mapping class="jmc.feol.core.model.Parametrizacion"/>		
   </session-factory>

</hibernate-configuration>
