<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
    <display-name>FEOL</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

	<context-param>
  		<param-name>webAppRootKey</param-name> 
  		<param-value>FEOLV2</param-value> 
  	</context-param>
  
	<context-param>
	  <param-name>contextConfigLocation</param-name>
	  <param-value>
	  		/WEB-INF/applicationContext.xml	  	
	  </param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
        <param-value>/WEB-INF/tiles-defs.xml</param-value>
 	</context-param>

	<filter>
	     <filter-name>Acceso</filter-name>
	     <filter-class>jmc.feol.core.security.filter.FilterAccess</filter-class>
	</filter>
	
    <filter-mapping>
	     <filter-name>Acceso</filter-name>
	      <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>OSIV</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>	 
	<filter-mapping>
		<filter-name>OSIV</filter-name>
	<url-pattern>/*</url-pattern>
	</filter-mapping>
<!--

    <filter>
	     <filter-name>Acceso</filter-name>
	     <filter-class>gba.sgi.core.security.FilterAccess</filter-class>
	</filter>
	
 <filter-mapping>
	     <filter-name>Acceso</filter-name>
	      <url-pattern>/*</url-pattern>
	</filter-mapping>

 -->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<listener>
		<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	</listener>


    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>    
    
     <listener>
   		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener> 

    <listener>
   		<listener-class>jmc.feol.core.init.app.ListenerReadFiles</listener-class>
	</listener> 

    <listener>
   		<listener-class>jmc.feol.core.init.app.ListenerMonitorConnAfip</listener-class>
	</listener> 

    <listener>
   		<listener-class>jmc.feol.core.init.app.ListenerForwardFactura</listener-class>
	</listener> 
	
	 <listener>
   		<listener-class>jmc.feol.core.init.app.ListenerForwardFileFactura</listener-class>
	</listener> 

    <listener>
   		<listener-class>jmc.feol.core.init.app.ListenerReadFiles</listener-class>
	</listener> 

    <listener>
   		<listener-class>jmc.feol.core.init.app.ListenerDTAQ</listener-class>
	</listener> 

    <listener>
   		<listener-class>jmc.feol.core.init.app.ListenerGetImageCheque</listener-class>
	</listener> 
    
    <listener>
   		<listener-class>jmc.feol.core.init.app.ListenerReadFilesExpov1</listener-class>
	</listener> 
    
    
</web-app>